
 # Projet de Data Processing

In [ ]:
# Import des bibiliothèques Necessaires

In [1]:
import os
import pandas as pd
import string
import xlsxwriter

# I. Chargement et préparation des données

In [2]:
# I.1. ## INDEXATION DU FICHIER DE TRAVAIL
os.chdir("C:\ANABEBOU\MASTER EN FOUILLE DE DONNEES CANDIDATURE\COURS\MANIP_DONNEES\TRAITEMENT_PROJET\BF")

# I.2. Chargement de la base de données

colonne=["geonameid", "name", "asciiname", "alternatenames", "latitude", "longitude", "feature class", 
"feature code", "country code", "cc2", "admin1 code", "admin2 code", "admin3 code", "admin4 code", "population", "elevation", 
"dem", "timezone", "modification date"]

bfa = pd.read_csv("BF.txt",delimiter="\t", header=None, names=colonne)

In [3]:
# I.3. préparation de la base de données

COL_SEL = ["geonameid", "asciiname", "latitude", "longitude"]

base_trav = bfa[COL_SEL]

# I.4. Rénommination des colonnes

col_reno = {"geonameid":"ID", "asciiname":"location_name", "latitude":"lat", "longitude":"long"}

base_trav.rename(columns = col_reno, inplace=True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [4]:
# I.5. Enregitstrement de l base de données au format csv

base_trav.to_csv("burkina_location.csv")

# II. Opérations sur fichier csv

In [15]:
# II.1. Chargement du fichier csv

burkina_location = pd.read_csv('burkina_location.csv')

In [16]:
# II.2. Extraction des donnees sur gounghin

burkina_location_gounghin = burkina_location[burkina_location.location_name.str.lower()=="gounghin"]

In [17]:
# II.3. Enregistrement deS DONNEES SUR GOUNGHIN sous format csv

burkina_location_gounghin.to_csv('gounghin.csv')

In [18]:
# II.4. Extraction de donnees dont la location commence par des lettres comprises entre A et P

lettres = list(string.ascii_uppercase[:16])

burkina_location_AP = burkina_location[burkina_location.location_name.str[0].isin(lettres)].sort_values(by='location_name')

In [19]:
# II.5. Enregistrement de la base de donnees dont la location commence par des lettres comprises entre A et P

burkina_location_AP.to_csv('burkina_location_a_p.csv')

In [20]:
# II.6. Identification la longitude minimale et les noms de lieux correspondants dans le fichier burkina_location.csv.

burkina_location[burkina_location.lat == burkina_location.lat.min()]

       Unnamed: 0        ID location_name     lat    long
11149       11149  12224995  Fadio-Mepehn  9.4295 -2.7775

In [21]:
# II.7. Identification la latitude et les noms de lieux correspondants burkina_location.csv.

burkina_location[burkina_location.long == burkina_location.long.min()]

      Unnamed: 0       ID location_name    lat     long
1255        1255  2354426      Tinobole  10.75 -5.48333

In [22]:
# II.8. les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon<= 0.5)

burkina_location[(burkina_location.lat >= 11 ) & (burkina_location.long <= 0.5 ) ]

       Unnamed: 0        ID location_name       lat     long
0               0   2353158      Zyonguen  12.36667 -0.45000
1               1   2353159     Zyiliwele  12.38333 -2.73333
2               2   2353160        Zyanko  12.78333 -0.41667
3               3   2353161         Zouta  13.14908 -1.28197
4               4   2353162     Zourtenga  12.95741 -1.28745
...           ...       ...           ...       ...      ...
11288       11288  12358467          Kate  14.13461 -0.81244
11290       11290  12358654      Koulhole  13.43898 -1.16817
11293       11293  12358657     Nagbingou  13.55244 -0.46760
11295       11295  12358676         Sella  14.35699  0.28666
11296       11296  12358677       Kiefaye  13.78260 -1.58790

[9026 rows x 5 columns]

# III. Sortie Excel

In [28]:
# 3.1. Création du fichier Excel nommé mini_projet

donnees  = xlsxwriter.Workbook(os.path.join(os.getcwd(), 'mini_projet.xlsx'))
donnees_gounghin = donnees.add_worksheet('gounghin')
donnees_a_to_p = donnees.add_worksheet('A_to_P')

col = [c for c in list(burkina_location_gounghin.columns) if c!='Unnamed: 0']

# Création des entêtes 

for i in range(len(col)):
        donnees_gounghin.write(0, i, col[i])
        donnees_a_to_p.write(0, i, col[i])
        
# Renseignement des données

for i in range(burkina_location_gounghin.shape[0]):
    for j in range(len(col)):
        donnees_gounghin.write(i+1, j, burkina_location_gounghin.iloc[i][col[j]])

for i in range(burkina_location_AP.shape[0]):
    for j in range(len(col)):
        donnees_a_to_p.write(i+1, j, burkina_location_AP.iloc[i][col[j]])
donnees.close()